body {
  display: flex;
  justify-content: space-around;
}
#root {
  width: 340px;
  border: 1px solid grey;
  border-radius: 5px;
  box-shadow: 0 0 5px 3px grey;
  padding: 20px;
}

ul {
  list-style: none;
}
li.folder, li.file {
  font-style: normal;
}
li.closed:before {
  color: #EDBB0D;
  content: "\E2C7";
  font-family:'Material Icons'
}
li.folder:not(.closed):before {
  content: "\E2C8";
  color: #EDBB0D;
  font-family:'Material Icons'
}
li.file:before {
  content: "\e24d";
  font-family:'Material Icons';
  color: #B0B0B0;
}
li:not([class]) {
  font-style: italic;
}
li.closed + li {
  display: none;
}
.context-menu {
  padding: 15px;
  width: 80px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  border-radius: 2px;
  box-shadow: 3px 3px 5px 1px  lightgrey;
  position: absolute;
  z-index: 10;
  display: none;
}
.display {
  display: block;
}
.context-menu>div {
  padding: 2px;
  color: black;
  /* margin: 2px 10px; */
}
.passive>div {
  color: grey;
}
li.folder:focus, li.file:focus {
  background-color:#DDDDDD;
  outline: none;
}
.context-menu:not(.passive)>div:hover, li.folder:hover, li.file:hover {
  background-color:#DDDDDD;
}
