$headerBackground: url("../img/m-h-night.jpg");
$headerFont-color: #fff;
$wordAccent-background: rgb(255,78,51);
$btn-background: rgb(227,172,2);
$contentBackground: rgb(33,35,46);
$content-section-fotn-color: #fff;
$section_card-background: rgb(59,64,80);
$section-card-fontColor: rgb(209,209,209);
$section-card-img-width: ("first": 320px, "second": 308px, "third": 342px);
$section_banner-background: ("left-color": rgb(226,171,3), "right-color": rgb(146,44,84));
$footer-background: rgb(59,64,80);
$specificFontFamily: 'Fresca', sans-serif;
$section-card-specificWordSpacing: 0.3px;
$section-card-text-width: ("first": 410px, "second": 418px, "third": 390px);
$landing-logo-width: 60px;
$fontFamily-SSP: 'Source Sans Pro', sans-serif;
$fontFamily-hind: 'Hind', sans-serif;
$fontFamily-fresca: 'Fresca', sans-serif;