$headerBackground: url("../img/m-h-day.jpg");
$headerFont-color: rgb(44,47,60);
$wordAccent-background: rgb(21,160,199);
$btn-background: rgb(105,153,0);
$contentBackground: #fff;
$content-section-fotn-color: rgb(44,47,60);
$section_card-background: rgb(33,35,46);
$section-card-fotColor: rgb(209,209,209);
$section-card-img-width: ("first": 310px, "second": 298px, "third": 332px);
$section_banner-background: ("left-color": rgb(103,151,8), "right-color": rgb(46,91,215));
$footer-background: rgb(33,35,46);
$specificFontFamily: 'Source Sans Pro', sans-serif;
$section-card-specificWordSpacing:0.6px;
$section-card-text-width: ("first": 420px, "second": 432px, "third": 400px);
$landing-logo-width: 80px;
$fontFamily-SSP: 'Source Sans Pro', sans-serif;
$fontFamily-hind: 'Hind', sans-serif;
$fontFamily-fresca: 'Fresca', sans-serif;